## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.blg
*.fdb_latexmk
*.gz
main*

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
__latexindent_temp.tex

## windows env
.vscode

## main pdf
main.pdf
output_filename.pdf

# mac os x
.DS_Store

#WSL
*.Identifier