## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
# *.bbl
*.bcf
*.xml
*.blg
*.fdb_latexmk
*.gz
*.cut
main*
m2.bbl

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
__latexindent_temp.tex

## windows env
.vscode

## main pdf
main.pdf
m2.pdf
output_filename.pdf

# mac os x
.DS_Store

#WSL
*.Identifier

#Others
*.txt